.quote{
    margin-top: 5rem;
   display: flex; 
   justify-content: center;
   position: relative;
}

.quote div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.quote__text{
    padding: 2rem;
    font-size: var(--size-lg);
    width: fit-content;
    margin-bottom: 0;
}

.quote__author{
    padding:1rem;
    font-size: var(--size-lg);
    margin-top: 0;
    border-top: none;
    width: fit-content ;
}

.quote::before,.quote::after{
    content: url("/public/assets/quote.svg");
    background-color: var(--bg-color);
    padding:.5rem;
}

.quote::after{
}
